header {
    padding-bottom: 15px 0;
    text-align: center;
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    flex-direction: column;
}

.login-container {
    background: white;
    padding: 20px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    margin: 30vh auto;
    position: absolute;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

#register_now {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
